{% extends 'baseapp/base.html' %}

{% block title %} {{ good.name }} {% endblock  %}

{% block summ_of_cart %}
{{ cart_summ }}
{% endblock %}

{% block breadcrumb %} 

<li><a href="{% url 'show_catalog' %}"> Каталог </a></li>
<li><a href="{{ good.url }}"> {{ good.name }} </a></li>

{% endblock %}


{% block content %}

{{ block.super }}
<div class="page-section section section-padding">
	<div class="container">
		<div class="row row-30 mbn-50">

			<div class="col-12">
				<div class="row row-20 mb-10">

					<div class="col-lg-6 col-12 mb-40">

						<div class="pro-large-img mb-10 fix easyzoom easyzoom--overlay easyzoom--with-thumbnails">
							<a href="{{ main_pictures.image1000.url }}">
								<img src="{{ main_pictures.get_420_image_url }}" alt=""/>
							</a>
						</div>
						<ul id="pro-thumb-img" class="pro-thumb-img">

							{% for picture in pictures %}

							<li><a href="{{ picture.image1000.url }}" data-standard="{{ picture.get_420_image_url }}"><img src="{{ picture.image270.url }}" alt="" /></a></li>

							{% endfor %}
						</ul>
					</div>

					<div class="col-lg-6 col-12 mb-40">
						<div class="single-product-content">

							<div class="head">
								<div class="head-left">

									<h3 class="title">{{ good.name }}</h3>

								</div>

								<div class="head-right">
									<span class="price"> &#8381 {{ good.price }}</span>
								</div>
							</div>

							<div class="description">
								<p>{{ good.description }}</p>
							</div>

							<span class="availability">Наличие: <span>{% if good.quantity > 0 %}В наличиии{% else %}Нет на складе {% endif %}</span></span>

							<form id="quantityform" action="{% url 'cart_add_item' slug=good.slug %}" method="POST">
								{% csrf_token %}
								<div class="quantity-colors">

									<div class="quantity">
										<h5>Количество:</h5>
										<div class="pro-qty"><input name="quantity" type="text" value="1"></div>
									</div>                            

								</div>
							</form>    
							<div class="actions">

								<button form="quantityform" type="submit"><i class="ti-shopping-cart"></i><span>В КОРЗИНУ</span></button>
								<form action="#">
									<button class="box" data-tooltip="Wishlist"><i class="ti-heart"></i></button>
								</form>
							</div>

							<div class="share">

								<h5>Share: </h5>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>

							</div>

						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</div>
{% endblock %}   